@import "../../nullstyle";
.main_container{
    display: flex;
    /* position: fixed; */
    /* background-color: rgb(255, 94, 0); */
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y:auto; 
    overflow-x: hidden;
    /* overflow:auto; */
}
.content{
    // overflow-y:auto; 
    // overflow-x: hidden;
    margin-top: 3rem;
}
.header_container{
    display: flex;
    margin-top:2rem;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;

}
.header{
   justify-content:flex-start;
   flex:8.5;
   margin-right:15%;
   h1{
       font-size: 25px
   }
}
.header_halp_btn{
    align-self:flex-start;
    justify-content: center;
    padding-top: 0 !important;
}
.div{
    margin-top: 10rem;
    width: 80%;
    margin-left: 10%;
}
.btn{
margin: 1rem;
flex:1.5
}
.label{
    text-align: left;
    padding-left: 0.4rem;
}
.form{
    display: flex;
    flex-direction: column;
    /* background-color:#b0f7f3; */
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.test{
    background-color:#d62222;
    height: 100px;
}
.form_control{
    width: 55%;
    margin-bottom: 5rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    /* background-color:red; */
}
.grid{
   width: 60%;
   justify-content: center;
   align-self: center;
}
.boarders{
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding: 20px;
    margin: 1rem !important;
}
.column_container{
    // padding: 10px;
    
}
.center{
    display:flex; 
    justify-content: center; 
    align-items: center;
}