@import "../../nullstyle";

.main_container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* flex: auto; */
    /* background-color:red; */
}
.header{
    /* flex: auto; */
    /* color:red */
    h1{
        font-size: 25px;
    }
}
.test_p{
    font-weight:700;
    font-size: 130px;
    color: rgb(224, 16, 16);
}

