.btn-container{
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    /* background-color:rgb(62, 28, 212); */
    border-color: yellowgreen;
  }
  
  .btn{
    margin: 1em 0.5rem !important;
  }