.main_container{
    display: flex;
    width: 20rem;
    height: 23rem;
    flex-direction: column;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #000000;
    /* background-color:#d60fc5; */
    margin: 1.5rem;
    position: relative;
}
.main_container,
.main_container::before,
.main_container::after {
    /* Добавим тень, чтобы отделить листы друг от друга */
    box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
  }
  
  .main_container::before,
  .main_container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
   
  }
  
  /* Второй лист бумаги */
  .main_container::before {
    left: 7px;
    top: 5px;
    z-index: -1;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  
  /* Третий лист бумаги */
  .main_container::after {
    left: 12px;
    top: 10px;
    z-index: -2;
    border-radius: 5px;
    border: 1px solid #000000;
  }
.card{
    display: flex;
    width: 20rem;
    height: 23rem;

}
.card_header{
    flex:0.2;
    padding:1rem;
    
    /* background-color:#d60f0f; */
}
.description{
    display: flex;
    flex:2;
    padding:0.5rem;
    justify-content:center;
    align-items: center;
    /* background-color:#20d60f; */
    /* border-top: 1px solid #000000; */
}
.equipment{
    flex:0.5;
    display: flex;
    justify-content:center;
    align-items: center;
    padding:0.5rem;
    /* background-color:#c2d60f; */
    /* border-top: 1px solid #000000; */
}

.li{
    list-style-type: none; 
    /* text-align: left; */
    /* margin-right: 5px; */
}
.ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.hr{
    color: black;
    size: 2;
}