.main_container{
    
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
.header{
    flex:1;
    display: flex;
    /* margin:1rem; */
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding:0.5rem;
    /* background-color: red; */
    flex-direction:row;
    width:100%;
    justify-content:stretch; 
}
.header_grid{
    width: 100%;
}
.body{
    display: flex;
    flex:9;
    margin:1rem;
    width:100%;
    /* background-color: rgb(0, 4, 255); */
    align-items:flex-start;
    justify-content: center;
    overflow-y: scroll;
}
.cards_container{
    margin:1rem;
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(251, 255, 0); */
}
.btn_container{
    /* margin: 1.5rem; */
    width: 12%;
    /* margin-right: 1.5rem;   */
}
.header_cards{
    h1{
        font-size: 25px;
    }
    /* align-self: start; */
    /* background-color: rgb(0, 255, 21); */
}
.cards{
    align-self: center;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 1rem;
    width:70%;
    margin-top: 3rem;
    /* background-color: rgb(255, 230, 0); */
    
}
.cardItem{
   margin:1rem; 
}

.top{
    height: 200px;
}

.cards__not{
 margin:20px 0 0 0;
    h2{
        color: rgb(226, 64, 64);
        font-size: 20px;
       
    }
}

.help{
    // margin-left: 80%;
}
