.App {
 display: flex; 
  /* flex: auto; */
  padding: 1rem 0.5rem;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color:#b0f7f3;
  position: fixed;
  width: 100%;
  height: 100%;
}
.header{
  margin: 1rem;
}
